// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash {
  color: red;
}

.field_with_errors {
  color: red;
  background: yellow;
  width: 200px;
  height: 30px;
}

#error_explanation {
  background: yellow;
  width: 200px;
}

.lines {
  border-bottom: 1px solid #878585;
}
